:root{
    background-color: blueviolet;
    margin:auto;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content:center;
    height:150vh;
  padding: 15px 15px 15px 15px;
    align-items:center ;
}
.main-container{
    background-color: darkolivegreen;
}
.form-container{
    background-color: yellow;
}

.name-container{
    background-color: brown;
}
.inven-container{
    background-color: rgb(138, 71, 71);
}
.about-container{
    background-color: cadetblue;
}
.image-container{
    background-color: burlywood;
}
.price-container{
background-color: darkgoldenrod;
}
.submit-button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .submit-button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }