:root {
  background-color: seagreen;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
  font-size:5em;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: space-evenly;
  margin: 0px auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  /* background-color: yellow; */
  border: 2px solid  rgb(91, 60, 83);
  max-width: 50%;
  border-radius: 20px;
  font-weight: bold;
  padding:10px 10px;

}
.text-container > h3 {
  font-size: x-large;
  padding: 0 ;
}

.nav-container {
  display: flex;
  flex: 1;
  /* background-color: blue; */
  justify-content: center;
  align-items: center;
  gap: 20px 20px;

}

.img-container {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  /* box-shadow: 0px 3px 6px darkgreen; */
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
  /* background-color: brown; */
  gap: 20px;
  padding: 10px;
}

.img {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  object-fit: cover;
  flex: 1;
  background-size: cover;
  border-radius: 15px;
  border:2px solid rgb(91, 60, 83);
}

.img.one {
  background-image: url(	https://cdn.shopify.com/s/files/1/0252/0483/products/image.jpg?);

}

.img.two {
  background-image: url(https://pipingpotcurry.com/wp-content/uploads/2019/05/How-to-make-Masala-Chai-Piping-Pot-Curry.jpg);
}

.img.three {
  background-image: url(https://images.news18.com/ibnlive/uploads/2022/10/shutterstock_1706805625.jpg);
}

.img.four {
  background-image: url(https://static.onecms.io/wp-content/uploads/sites/19/2014/04/02/chai-su-x.jpg);
}
.img:hover{
  transform: scale(.8);
  box-shadow: 12px 12px 12px rgba(57, 86, 52, 0.951);
}


a {
  font-weight: bold;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

a:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}