:root {
  background-color: seagreen;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  display: flex;
  text-align: center;
}

.main {
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0px auto;

}
.index-container {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}
.list-container{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:5px;
  overflow: scroll;
  /* background-color: rgb(163, 121, 171); */
  width: 100%;
  height:100%;
  flex:4;
  padding: 0;
  margin:0;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: crimson; */
  list-style: none;
}
li a {
  background-color: rgba(13, 66, 13, 0.713);
  display: block;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px;
  margin: 15px;
  text-decoration: none;
  border: 3px solid rgb(91, 60, 83);
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 20px;

}

li a:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 6px rgba(57, 86, 52, 0.951);
}





input:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 6px rgba(57, 86, 52, 0.951);
}


.button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.nav-container{
  /* background-color: chocolate; */
  display: flex;
  justify-content: center;
  gap:15px;
  align-items: center;
  width:100%;
  flex:1;
}

